<div class="row time-interval bg-color-standard-light">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="row mg-sm-up">
            <p class="text-warning">Warning - Spot is available for booking from 0 AM to 12 PM</p>
        </div>
    </div>
</div>
