@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="row mg-xlg-up mg-xlg-down">
    <div class="col-xs-8 col-xs-offset-2 text-center">
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</div>
	
