@{
    var id = @Url.RequestContext.RouteData.Values["id"];
}


<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="row mg-md-up">
            <div class="col-xs-2">
                <button type="button" class="btn btn-sm btn-block btn-default tracked" data-bind="click: menuClick('/User/GetPersonalInfo/@id')">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"> About</span>
                </button>
            </div>
            <div class="col-xs-2">
                <button type="button" class="btn btn-sm btn-block btn-default tracked" data-bind="click: menuClick.bind($data, '/User/GetContactInfo/@id')">
                    <span class="glyphicon glyphicon-send" aria-hidden="true"> Contact</span>
                </button>
            </div>
            <div class="col-xs-2">
                <button type="button" class="btn btn-sm btn-block btn-default tracked" data-bind="click: menuClick.bind($data, '/User/GetTimeline/?skip=0&id=@id')">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"> Timeline</span>
                </button>
            </div>
            <div class="col-xs-2">
                <button type="button" class="btn btn-sm btn-block btn-default tracked" data-bind="click: menuClick.bind($data, '/User/GetCalendar/@id')">
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"> Calendar</span>
                </button>
            </div>
            <div class="col-xs-2">
                <button type="button" class="btn btn-sm btn-block btn-default tracked" data-bind="click: menuClick.bind($data, '/User/GetBusinesses/@id')">
                    <span class="glyphicon glyphicon-briefcase" aria-hidden="true"> Business</span>
                </button>
            </div>
            <div class="col-xs-2">
                <button type="button" class="btn btn-sm btn-block btn-default tracked" data-bind="click: menuClick.bind($data, '/User/GetGroups/@id')">
                    <span class="glyphicon glyphicon-globe" aria-hidden="true"> Groups</span>
                </button>
            </div>
        </div>
    </div>
</div>
