<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <a href="#">
            <img src="~/Content/images/img-empty-4.png" alt="Spot img" class="center-img img-standard img-responsive">
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-sm-offset-4 text-center">
        <a href="#">Change profile picture</a>
    </div>
</div>
