
@{
    ViewBag.Title = "DeleteProfileSuccess";
    Layout = "~/Views/Shared/_InLayout.cshtml";
}

<div class="row text-center">Logging out...</div>

@section Scripts {
    @Scripts.Render("~/bundles/logout")
}

