
@{
    ViewBag.Title = "Error - Profile deletion has failed";
    Layout = "~/Views/Shared/_InLayout.cshtml";
}

<div class="row mg-lg-up">
    <div class="col-xs-12 text-center text-danger">
        <h2>@ViewBag.Title</h2>
    </div>
</div>
<div class="row mg-sm-up text-center text-danger">
    <div class="col-xs-12">
        Your profile could not be deleted. You might have entered incorrect password or verification code. Please try again.
    </div>
</div>

