<div class="row">
    <div class="col-xs-6 col-xs-offset-3 text-center text-warning">
        <p>There are no events in the city on the selected date. Please try to change the date or try different location</p>
    </div>
</div>

