@model spots.Models.Group.Interfaces.IGroupResponse

<div class="row @Model.StyleClass">
    <div class="col-xs-12 bg-color-standard-white pd-md-down pd-md-up border-standard-light border-all">
        <div class="row">
            <div class="col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2 text-center">
                @Model.ResponseText
            </div>
        </div>
    </div>
</div>
