<div class="row mg-lg-up">
    <div class="col-xs-12 mg-xs-up">
        <a href="@Url.Action("Index", "Timeline")" class="btn btn-block btn-lg btn-feature color-standard tracked">
            <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
        </a>
    </div>
    <div class="col-xs-12 mg-xs-up">
        <a href="@Url.Action("Index", "Map")" class="btn btn-block btn-lg btn-feature color-standard tracked">
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
        </a>
    </div>
    <div class="col-xs-12 mg-xs-up">
        <a href="@Url.Action("Index", "Calendar" )" class="btn btn-block btn-lg btn-feature color-standard tracked">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="businesses mg-lg-up text-center">
            <p class="no-margin color-standard text-md">My businesses</p>
        </div>
        <div class="business-names"></div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="groups mg-lg-up text-center">
            <p class="no-margin color-standard text-md">My groups</p>
        </div>
        <div class="group-names mg-lg-down"></div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="feedback-partial"></div>
    </div>
</div>
