<div class="row">
    <div class="col-xs-6 col-xs-offset-3 text-center text-warning">
        <p>There are no spots available in this location. Please try to adjust the dates or try different location</p>
    </div>
</div>
