@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_InLayout.cshtml";
}

<div class="jumbotron bg-color-standard-light">
    <h1>SPOTS</h1>
    <p class="">We change the way people meet.</p>
</div>